In [3]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [4]:
mpl.rc('font', family = 'Malgun Gothic')

In [7]:
df1 = pd.read_csv('./data/Data11.csv')

In [8]:
df1.head()

          구매일   구매금액 물품대분류
0  2018-04-20  57120   기저귀
1  2018-04-20  15900  더블하트
2  2018-04-20   7000  더블하트
3  2018-04-20  20900  더블하트
4  2018-05-06  26500  더블하트

In [9]:
df1['Datetime'] = pd.to_datetime(df1['구매일'])

In [10]:
df1.head()

          구매일   구매금액 물품대분류   Datetime
0  2018-04-20  57120   기저귀 2018-04-20
1  2018-04-20  15900  더블하트 2018-04-20
2  2018-04-20   7000  더블하트 2018-04-20
3  2018-04-20  20900  더블하트 2018-04-20
4  2018-05-06  26500  더블하트 2018-05-06

In [ ]:
sns.lineplot(data=df1, x='Datetime', y='구매금액')

Error: Session cannot generate requests